<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>

<%= yield %>

<div class="footer">
  <img src="penn_shield.png" alt="University of Pennsylvania logo" height="28" />&nbsp;Hosted by the University of Pennsylvania Libraries
</div>
</body>
</html>
