<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">

<div id="div_logo"><a href="/" title="OPenn Home"><img src="openn_toplogo10.jpg" alt="OPenn"></a></div>
<div id="div_toplinks"><a href="/ReadMe.html">Introduction</a> -
  <a href="/TechnicalReadMe.html">Technical Help</a> -
  <a href="/Repositories.html">Repositories</a> -
  <a href="/CuratedCollections.html">Curated Collections</a>
</div>

<div id="content">
  <p>OPenn contains complete sets of high-resolution archival images of cultural heritage material from the collections of its contributing institutions, along with machine-readable descriptive and technical metadata. All materials on OPenn are in the public domain or released under Creative Commons licenses as Free Cultural Works. Please see specific repository pages and documents for applicable license terms.</p>
  <ul>

    <% openn_entries.each do |entry| %>
        <h2><%= entry %></h2>
      <% object_files(entry).each do |file_array| %>
          <li><%= link_to("openn/#{file_array}", file_array) %></li>
      <% end %>
    <% end %>
  </ul>

</div>